{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/input_range.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/header.css' %}">
</head>
<body>

	<div id="drop-zone"></div>

	<header>
		<div class="header_elem">
			<a href="">Store</a>
		</div>
		<div class="header_elem">
			<a href="{% url 'main:index' %}">Led Matrix</a>
		</div>
		<div class="header_elem">
			{% if request.user.is_authenticated %}
				<div class="log_reg">
					<a href="{% url 'users:profile' request.user.id %}">Profile</a>
				</div>
				<div class="log_reg">
					<a href="{% url 'users:logout' %}">Out</a>
				</div>
			{% else %}
				<div class="log_reg">
					<a href="{% url 'users:log' %}">Log</a>
				</div>
				<div class="log_reg">
					<a href="{% url 'users:reg' %}">Reg</a>
				</div>
			{% endif %}
		</div>
	</header>

	<div class="window" id="window">
		<div class="draw" id="draw"></div>
		<div class="side_panel left_panel" id="left_panel">
			<button class="left_panel_button left_top_button" id="clear" onclick="clear_win();">Clear</button>
			<button class="left_panel_button left_bottom_button" id="switch_color">
				<input type="number" placeholder="X count" id="h_count" class="settings_left_panel">
				<input type="number" placeholder="Y count" id="v_count" class="settings_left_panel">
			</button>
		</div>
		
		{% if request.user.is_authenticated %}
			<div class="side_panel right_panel">
				<button class="right_panel_button right_top_button" onclick="export_file();">File</button>
				<button class="right_panel_button right_bottom_button">
					<form style="height: 100%; width: 100%;" class="form" method="post" action="{% url 'main:save_config' request.user.id %}">
						{% csrf_token %}
						<input type="text" name="configuration" id="configuration">
						<input type="text" name="name" placeholder="Name config" class="settings_right_panel">
						<input type="submit" value="Save config" class="settings_right_panel">
					</form>
				</button>
			</div>
		{% else %}
			<button class="side_panel right_panel" onclick="export_file();" style="border: solid 1px white;">File</button>
		{% endif %}
		
	</div>

</body>
	
	<script type="text/javascript" src="{% static 'main/index.js' %}"></script>

</html>