* {
	margin: 0px;
	padding: 0px;
}

html, body {
	background-color: black;
}

/* n for squere */

.window {
	height: 60%; /* n persent */
	width: 110vh; /* 50 + n vh */
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.draw {
	height: 95%;
	width: 60vh; /* n vh */
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display: grid;
}

.side_panel {
	height: 95%;
	width: 24vh;
	background-color: black;
	color: white;

}

.left_panel {
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
}

.right_panel {
	border: solid 1px white;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	right: 0%;
}

.left_panel_button {
	height: 49%;
	width: 100%;
	border: solid 1px white;
	background-color: black;
	color: white;
}

.left_top_button {
	border-top-left-radius: 10px;
	position: absolute;
	top: 0%;

}

.left_bottom_button {
	border-bottom-left-radius: 10px;
	position: absolute;
	bottom: 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.settings_left_panel {
	width: 90%;
	height: 15%;
	text-align: center;
	border: solid 0px;
	border-radius: 10px;
}

.settings_left_panel:hover {
	background-color: black;
	clip-path: black;
	color: white;
}

.settings_left_panel:focus {
	background-color: black;
	clip-path: black;
	border: solid 0px;
	color: white;
}

.pixel {
	box-sizing: border-box;
	border: solid 1px white;
}